<!-- {% extends "admin/main/base.html" %}
{% block title %}assign varient{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    {{ form.shop_type.label_tag }}
                    {{ form.shop_type }}
                </div>
            </div>
        </div>
    </div>
    
    <label for="category">Category</label>
    <select class="form-control" id="category" style="width: 100%;">
        <option value="">-Select-</option>
        {% for option in category_options %}
            <option value="{{ option.value }}">{{ option.label }}</option>
        {% endfor %}




        
    </select>

  



{% endblock %} -->