<!-- {% extends "admin/main/base.html" %}
{% block title %}varient{% endblock %}
  <!-- Your regular content here -->
<!-- {% block content %}
  <div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <section class="panel panel-default">
        <header class="panel-heading">
          <div class="row">
            <div class="col-sm-8">
              <h4>Add / Edit Variant</h4>
            </div>
          </div>
        </header>
        <div class="modal-body">
          <form action="" method="post">
            {% csrf_token %}
     {% include 'admin/main/form_temp.html' %}
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                 
                   
                  <label for="varient">Variant Name <span class="required-color">*</span></label>
                  <input type="text" id="name" required name="name" autocomplete="off" class="form-control" data-parsley-pattern-message="This is not a valid name" data-parsley-trigger="keyup" value="" placeholder="Variant Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group right" style="padding-top: 25px; float: right">
                  <a href="" class="btn btn-danger">&nbsp;&nbsp;&nbsp;&nbsp; Close &nbsp;&nbsp;&nbsp;&nbsp;</a>
                  <button type="submit" class="btn btn-success">&nbsp;&nbsp;&nbsp; Save &nbsp;&nbsp;&nbsp;</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>

  <script>
    function showpopUp() {
      var modal = document.getElementById("myModal");
      modal.style.display = "block";
    }

    function hidepopUp() {
      var modal = document.getElementById("myModal");
      modal.style.display = "none";
    }
  </script>
   
{% endblock %}  -->


  
         


             
 
                     -->
