{% extends "admin/main/base.html" %}
{% block title %}Dahsboard{% endblock %}

{% block content %}
	<!-- <h1>Welcome To Dahsboard</h1> -->
	<section class="content">
		<div class="row">
			<div class="col-lg-3 col-xs-3">
				<div class="small-box bg-aqua">
					<div class="inner">
						<h3>0</h3>
						<p>Today New Orders</p>
					</div>
					<a href="" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
			<div class="col-lg-3 col-xs-3">
				<div class="small-box bg-maroon">
					<div class="inner">
						<h3>0</h3>
						<p>Today Orders</p>
					</div>
					<a href="" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
	
			<div class="col-lg-3 col-xs-3">
				<div class="small-box bg-orange">
					<div class="inner">
						<h3>428</h3>
						<p>Total New Orders</p>
					</div>
					<a href="" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
			<div class="col-lg-3 col-xs-3">
				<div class="small-box bg-yellow">
					<div class="inner">
						<h3>659</h3>
						<p>Total Orders</p>
					</div>
					<a href="" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
			<div class="col-lg-12 col-xs-12">
				<div class="small-box bg-green">
					<div class="inner">
						<h3>18538883</h3>
						<p>Total Sale</p>
					</div>
					<a href="" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}