{% extends "admin/main/base.html" %}
{% block title %}varient{% endblock %}

{% block content %}


<div id="myModal2" class="modal" style="width: 544px; left: 486px; overflow-y: hidden;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="margin-top: 0px;">&times;</span>
            </button>
        </div>
        <section class="panel panel-default">
            <header class="panel-heading">
                <div class="row">
                    <div class="col-sm-8">
                        <h4>Add / Edit Variant</h4>
                    </div>
                </div>
            </header>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'admin/main/form_temp.html' %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" id="varient" required name="name" autocomplete="off" class="form-control" data-parsley-pattern-message="This is not a valid name" data-parsley-trigger="keyup" value="{{ current_record.name }}" placeholder="Variant Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group right" style="padding-top: 25px; float: right">
                                <input type="hidden" name="status" id="status" value="1">
                                <a href="" class="btn btn-danger" onclick="">&nbsp;&nbsp;&nbsp;&nbsp; Close &nbsp;&nbsp;&nbsp;&nbsp;</a>
                                <button type="submit" class="btn btn-success">&nbsp;&nbsp;&nbsp; Save &nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $(".close").click(function() {
            // Add your desired action here
            window.location.href = "";
        });
    });

    function showpopUp2() {
        var modal = document.getElementById("myModal2");
        modal.style.display = "block";
    }

    function hidepopUp2() {
        var modal = document.getElementById("myModal2");
        modal.style.display = "none";
    }
</script>
{% endblock %}
