{% extends "admin/main/base.html" %}
{% block title %}shop Type{% endblock %}

{% block content %}
	   <!-- Main content -->
    <section class="content">
      
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
             
                <h3>SHOP TYPE MANAGEMENT</h3>
                <!-- <div class="box box-primary">
                    
                    <div class="box-header"> -->
                        <div class="box">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                        ADD/EDIT SHOP TYPE
                    </div><!-- /.box-header -->
                    <!-- form start -->
                   
                    <div class="box-body" style="padding-bottom: 10px;">
                        <form role="form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- {% include 'admin/main/form_temp.html' %} -->
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="{{ form.name.id_for_label }}">Shop Type Name</label>
                                    {{ form.name }}
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="{{ form.Local.id_for_label }}">Shop Type Name Local</label>
                                    {{ form.Local }}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="{{ form.Description.id_for_label }}">Description</label>
                                    {{ form.Description }}
                                </div>
                            </div> 
                           

                            <br><br><br><br> <br><br><br><hr>  <div class="box-footer" style="text-align: right; border: 0px transparent;">
                                <button type="submit" class="btn btn-primary" style="margin-top: -19px; width: 90px; margin-bottom:-16px;">Update</button>
                            </div>
                        </form>
                    </div>
                </div><!-- /.box -->
            </div><!--/.col (left) -->
        </div>
    </div>
</section>
{% endblock %}