{% extends "admin/main/base.html" %}
{% block title %}Category{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <h3>Category Management</h3>
                <div class="box">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            ADD/EDIT Category
                        </div>
                        <!-- form start -->
                        <form role="form" method="post">
                            <div class="box-body" style="margin-bottom: -11px;">
                                {% csrf_token %}
                                <!-- {% include 'admin/main/form_temp.html' %}  -->
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="{{ form.name.id_for_label }}">Category Name</label>
                                        {{ form.name }}
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="{{ form.sortOrder.id_for_label }}">Sort Order</label>
                                        {{ form.sortOrder }}
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="{{ form.status.id_for_label }}">Status</label>
                                        {{ form.status }}
                                    </div>
                                </div>
                             
                                <div class="form-group col-md-4">
                                    <label for="{{ form.status.id_for_label }}">ShopType</label>
                                    <select name="shoptype" id="shoptype" class="form-control">
                                        {% for shoptype in shoptypeList %}
                                            <option value="{{ shoptype.id }}">{{ shoptype.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                              
                                 
                             
                           <br><br><br><br> <br><br><br><br><div class="box-footer">
                                <button type="submit" class="btn btn-primary" style="width: 90px; margin-left: 958px;">Update</button>
                            </div>
                        </form>
                    </div><!-- /.box -->
                </div><!--/.col (left) -->
            </div>
        </div>
    </section><!-- /.content -->
{% endblock %}
