 <ul class="sidebar-menu">
                    <li >
                        <a href="{% url 'admin' %}">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="{% url 'shoptypelist' %}">
                            <i class="fa  fa-shopping-cart"></i>
                            <span>Shop Type</span>
                        </a>
                        
                    </li>
                    <li >
                        <a href="{% url 'Categorylist' %}">
                            <i class="fa  fa-folder"></i>
                            <span>Category</span>
                        </a>
                        
                    </li>
                    <li >
                        <a href="{% url 'varientlist' %}">
                            <i class="fa  fa-dashboard"></i>
                            <span>Variant </span>
                        </a>
                        
                    </li>
                    <li >
                        <a href="{% url 'assignvarientlist' %}">
                            <i class="fa fa-dashboard"></i>
                            <span>Assign Variant </span>
                        </a>
                        
                    </li>
                    <li >
                        <a href="{% url 'shoplist' %}">
                            <i class="fa fa-dashboard"></i>
                            <span>Shop </span>
                        </a>
                        
                    </li>
                    <li >
                        <a href="{% url 'productmanagementlist' %}">
                            <i class="fa fa-dashboard"></i>
                            <span>Product Management</span>
                        </a>
                        
                    </li>


                    <li >
                        <a href="#">
                            <i class="fa fa-dashboard"></i>
                            <span>New Order List</span>
                        </a>
                        
                    </li>

                    <li >
                        <a href="#">
                            <i class="fa fa-dashboard"></i>
                            <span>Order Management</span>
                        </a>
                        
                    </li>

                    <li >
                        <a href="#">
                            <i class="fa fa-dashboard"></i>
                            <span>Sales Report</span>
                        </a>
                        
                    </li>



                    
                </ul>